<ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item">
      <!--<%= image_tag "http://placehold.it/60x60", class: "img-circle" %> !-->
      <%= image_tag user.avatar(:thumbnail), class: "img-circle" %>
      <%= link_to user.login, user%>


      <div class="pull-right">
        <button class="btn btn-primary"> Follow </button>
        <%= link_to "Edit", edit_user_path(user) %> |
        <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "R U sure?"} %>
      </div>
      <!--



        <%= link_to "Edit", edit_user_path(user) %>  |
        <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "R U sure?"} %>



      !-->
    </li>

  <% end %>
</ul>
