<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>


<%=  form_for @user do |f| %>
  <div class="row">
    <div class="col-md-1">
      Login:
    </div>
    <div class="col-md-6">
      <%= f.text_field :login %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      Email:
    </div>
    <div class="col-md-6">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      Password:
    </div>
    <div class="col-md-6">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      Avatar:
    </div>
    <div class="col-md-6">
      <%= f.file_field :avatar %>
    </div>
  </div>


  <%= f.submit "Sign up" %>
<% end %>
